{
    GSThemeAuthors = (
	"0smiridium"
    );
    GSThemeDetails = "Refined dark theme inspired by modern UI design. Clean typography, soft contrast, with Rik icons.";
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = YES;
	GSMenuBarHeight = 30;
	GSMenuItemHeight = 30;
	GSMenuSeparatorHeight = 6;
	GSScrollViewNoInnerBorder = YES;
	GSScrollerButtonsOffset = 0;
	GSScrollerDefaultWidth = "14.0";
	GSScrollerKnobOvershoot = "1.0";
	GSScrollerArrowsSameEnd = NO;
	NSInterfaceStyleDefault = NSMacintoshInterfaceStyle;
	NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
    };
    GSThemeIcon = "ThemeIcon.png";
    GSThemeLicense = GPLv3;
    GSThemePreview = "ThemePreview.png";
    GSThemeTiles = {
	GSMenuHorizontalItem = {
	    FileName = "GSMenuHorizontalItem.png";
	    NinePatch = YES;
	};
	GSMenuHorizontalItemHighlighted = {
	    FileName = "GSMenuItemSelected.png";
	    NinePatch = YES;
	};
	GSMenuHorizontalItemSelected = {
	    FileName = "GSMenuItemSelected.png";
	    NinePatch = YES;
	};
	GSMenuSeparatorItem = {
	    FileName = "GSMenuSeparatorItem.9.png";
	    NinePatch = YES;
	};
	GSMenuTitleBackground = {
	    FileName = "MenuTitleBackground.9.png";
	};
	GSMenuVerticalBackground = {
	    FileName = "GSMenuVerticalBackground.png";
	};
	GSMenuVerticalItem = {
	    FileName = "GSMenuVerticalItem.png";
	    NinePatch = YES;
	};
	GSMenuVerticalItemDisabled = {
	    FileName = "GSMenuVerticalItem.png";
	    NinePatch = YES;
	};
	GSMenuVerticalItemHighlighted = {
	    FileName = "GSMenuItemSelected.png";
	    NinePatch = YES;
	};
	GSMenuVerticalItemSelected = {
	    FileName = "GSMenuItemSelected.png";
	    NinePatch = YES;
	};
	GSScrollerHorizontalSlot = {
	    FileName = "GSScrollerHorizontalSlot.9.png";
	};
	GSScrollerVerticalSlot = {
	    FileName = "GSScrollerVerticalSlot.9.png";
	};
    };
    GSThemeVersion = "0.3";
}
